


.white__text{
color: #fff;
}

.container__color{
    background-color: #252527;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;    
}

.container{
    width: 1000px; 
    margin: 0 auto;
}


h2{
    font-size: 30px;
}

h6{
    font-size: 50px;
    color:aquamarine;
} 



.menu{
    background-color: darkslategray;
} 



/* Header */
/*--- Menu ---*/

.header{
 background-color:  #252527;
}  

.header-menu{
    display: flex;
    list-style: none;
    padding: 20px 0;
}


.header-menu__link{
    margin-right: 30px;
    letter-spacing: 2px;
    color: white;

    cursor: pointer;
}

.header-menu__link:hover{
    color: #4f93e5;
    transition: 0.3s;
}


/* --- First-screen ----*/

.first-screen{
  background-color: #252527;  
  padding: 300px 0;
} 

.first-screen__body{
    display: flex;

    justify-content: space-between;
    align-items: center;
}


/* =100 */
/* #text-id-p{
    color: yellow;
}

/* 10 + 10 = 20 */
/* .first-screen__info .text-class-p{
    color: red;
} */

/* вес 10 + 1 = 11*/
.first-screen__info p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
} 

.first-screen__info h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 10px;
} 

.first-screen__info h2{
    font-size: 27px;
    color: #4f93e5;
}


.first-screen__image{
    width: 350px;
    height: 420px;
    transition: 0.3s;
    transform: scale(1);

    border: 6px solid #4f93e5;
}

.first-screen__image:hover{
    border-radius: 0%;
    transition: 0.3s;
    transform: scale(1.2);
}

.first-screen__image img{
    width: 100%;
    height: 100%;
}



/* --- Skills --- */


.image{
    width: 30px;
}
.my{
    width: 100%;
    border-radius: 2px;
    transition: 0.3s;
    transform: scale(1);
}

.works{
    background-color: darkslategrey;
}
.contacts{
    background-color: darkslategray;
}
.mister_p{
    color: green;
}
.mister_p span{
    color:aqua
}
a:hover{
    color:red;
    transition: 0.3s;
}

.contacts__title{
    width: 110px;
    transition: 0.3s;
    transform: rotate(0deg);   
}
.contacts__title:hover{
    transform: rotate(360deg);   
}
.superpuper:hover{
    width: 110px;
    transition: 0.3s;
    transform: scale(1.2);

}
.python{
    transition: 0.3s;
    transform: scale(1);
}
.python_active{
    transition: 0.3s;
    transform: scale(1.1);
background-color: #2fe63b;
}
.trenirovka{
    transition: 0.3s;
    transform: scale(1.0);
}
.trenirovka_active{
    transition: 0.3s;
    transform: scale(1.1);
background-color: #2fe63b;
}

/* Skills (html,redux, and ....*/

.skills{
background-color: #252527;
text-align: center;
;
}




