.white__text {
    color: #fff;
}

.container__color {
    background-color: #252527;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}


h2 {
    font-size: 30px;
}

h6 {
    font-size: 50px;
    color: aquamarine;
}



/* Header */
/*--- Menu ---*/

.header {
    background-color: #252527;
    /* background-color: green; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

}

.header-menu {
    background-color: #252527;
    display: flex;
    list-style: none;
    padding: 20px 0;
    width: 100%;
}


.header-menu__link {
    margin-right: 30px;
    letter-spacing: 2px;
    color: white;

    cursor: pointer;
}

.header-menu__link:hover {
    color: #4f93e5;
    transition: 0.3s;
}


/* --- First-screen ----*/

.first-screen {
    background-color: #252527;
    padding: 300px 0;
}

.first-screen__body {
    display: flex;

    justify-content: space-between;
    align-items: center;
}


/* =100 */
/* #text-id-p{
    color: yellow;
}

/* 10 + 10 = 20 */
/* .first-screen__info .text-class-p{
    color: red;
} */

/* вес 10 + 1 = 11*/
.first-screen__info p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.first-screen__info h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 10px;
}

.first-screen__info h2 {
    font-size: 27px;
    color: #4f93e5;
}


.first-screen__image {
    width: 350px;
    height: 420px;
    transition: 0.3s;
    transform: scale(1);

    border: 6px solid #4f93e5;
    position: relative;

}

.first-screen__image img {
    top: 20px;
    right: 20px;
    position: fixed;
    z-index: 1;

    width: 100%;
    height: 100%;
}

.first-screen__image:hover {
    border-radius: 0%;
    transition: 0.3s;
    transform: scale(1.2);
}





/* --- Skills --- */


.image {
    width: 30px;
}

.my {
    width: 100%;
    border-radius: 2px;
    transition: 0.3s;
    transform: scale(1);
}

.works {
    background-color: #252527;
}

.contacts {
    background-color: #252527;
}

.mister_p {
    color: green;
}

.mister_p span {
    color: aqua
}

a:hover {
    color: red;
    transition: 0.3s;
}

.contacts__title {
    width: 110px;
    transition: 0.3s;
    transform: rotate(0deg);
}

.contacts__title:hover {
    transform: rotate(360deg);
}

.superpuper:hover {
    width: 110px;
    transition: 0.3s;
    transform: scale(1.2);

}

.python {
    transition: 0.3s;
    transform: scale(1);
}

.python_active {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #2fe63b;
}

.trenirovka {
    transition: 0.3s;
    transform: scale(1.0);
}

.trenirovka_active {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #2fe63b;
}

/* Skills (html,redux, and ....*/

.skills {
    background-color: #1f1f20;
}

.skills-title {}


.skills-title__decor {}

.title {
    text-align: center;
    font-size: 36px;
    color: #fff;
    letter-spacing: 2px;
}

.title__decor {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #4f93e5;
    margin: 10px auto 0 auto;
}

.skills-block {
    width: 300px;
    height: 300px;
}

/* #skills-block-id{
    background-color: red;
} */

.skills-block__rhombus {
    width: 110px;
    height: 110px;
    background-color: #252527;
    margin: 0 auto;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-block__icon {
    transform: rotate(-45deg);
    width: 40px;
}

.skills-block__subtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.skills-block__text {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}


/* Resume */
.resume {
    background-color: #252527;
}

.resume-title {}


.resume-title__decor {}

/* typescript () */
.skills-block_typescript {
    width: 300px;
    height: 300px;
}


.skills-block__rhombus__typescript {
    width: 110px;
    height: 110px;
    background-color: #252527;
    margin: 0 auto;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-block__subtitle__typescript {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.skills-block__text__typescript {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.typescript {
    position: relative;
    right: -200px;
    top: -100px;
}

footer {
    padding: 500px 0;
}