


.position-block{
	margin: 10px;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid darkorange;
}



.position-block-relative{
	background-color: darkblue;
	width: 200px;
	height: 200px;
	margin: 10px;
}


.position-block-absolute{
	position: relative;	
    background-color: darkgreen;
		display: inline-block;
}

.position-block-fixed{
			background-color: pink;
			display: inline-block;
}



.relative{
 position:relative ; 
 left: -300px ;
	top: -300px;
}

.absolute{
    position: absolute;
    right: -500px;
    top: -250px;
}

.fixed{
    position: fixed;
    right: 0px;
    top: 0px;
		background-color: darkseagreen;
}


